<include file='Header/header' />
<!------主页面------>
<body data-id="News">

<!--bread nav -->
<div class="btn-link">
    <ol  class="breadcrumb ">
        <li class="col-sm-offset-1"><a href="__APP__">Home</a></li>
        <li><a href="__APP__/home/news" >News</a></li>
    </ol>
</div>

<div class="container margin-top">

    <include file="Sider/sider" />
    <!-###############News##########->
    <div id='News_list' class="col-md-9">
        <div class=" panel panel-info ">
            <div class="panel-heading">
                <div class="panel-title">
                    <h5 class="text-info">News</h5>
                </div>
            </div>

            <div  >
                <ul class="list-group">
                <volist name="newsList" id="nl" offset="0" length='12'>
                     <li class="list-group-item">
                        <div class="row" style="padding:0 5px 0 5px">
                            <a  class="pull-left btn-link" href="__APP__/home/news/detail/id/{$nl.id}"> {$nl.title} </a>
                            <div class="pull-right text-info text-center">
                                <ul class="list-inline">
                                    <li><span class="glyphicon glyphicon-eye-open "></span> &nbsp;{$nl.visit_times}</li>
                                    <li><span class="glyphicon glyphicon-dashboard"></span> &nbsp;{$nl.lastTime}</li>
                                </ul>
                            </div>
                         
                         
                             <div class="pull-left" style="clear:both;margin-top:10px;">                      
                             
                             {$nl.info}
                            
                            
                             </div>
                        </div>
                     </li>
                </volist>
                </ul>
            </div>

            <!---pager----->
            <div class="text-center">
                <ul class="pagination">
                {$showList}
                </ul>
            </div>
        </div>

    </div>



</div>
</body>
<script ></script>
<include file='Footer/footer' />