<include file="Header/header" />
<include file="Header/nav" />
<!------------ueditor---------------------->
<script type="text/javascript" charset="utf-8" src="__APP__/Common/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__APP__/Common/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__APP__/Common/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    #admin_footer{
        position: relative;
        margin-top:20px;
    }
    </style>
<body data-id="Class|addClass">
<include file="Sider/class_left" />

<div class="col-md-10 row">
    <ul class="nav nav-tabs tab" role="tablist">
        <li class="active"><a href="#basetab" role="tab" data-toggle="tab">基本属性</a> </li>
        <li ><a href="#imgtab" role="tab" data-toggle="tab">描述图片</a> </li>
        <li  ><a href="#detailtab" role="tab" data-toggle="tab">详细描述</a> </li>
    </ul>

    <form role="form" class="col-md-11 form-horizontal" action="/Admin/Designer/addDesignerForm" method="post" id="addDesignerForm" >

        <div class="tab-content margin-top row">

            <!--基础属性-->
            <div class="tab-pane fade  active in" id="basetab">
                <div class="form-group">
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 造型师名</label>
                    <div class="col-sm-4">
                        <input type="text" value="{$designer.name}" class="form-control" name="name" id="title" data-check="['^[\\S]*$','造型师名必填']" placeholder="">
                    </div>
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 电话</label>
                    <div class="col-sm-4">
                        <input type="text" value="{$designer.phone}" class="form-control" name="phone" id="title" data-check="['^[0-9]{7,13}$','电话必填']" placeholder="">
                    </div>
                </div>
                <div class="form-group">

                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 身份证号码</label>
                    <div class="col-sm-4">
                        <input type="text" value="{$designer.idCard}" class="form-control" name="idCard" id="title" data-check="['^[\\S]*$','身份证号码']" placeholder="">
                    </div>
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 状态</label>
                    <div class="col-sm-4">
                        <select name="status" class="form-control">
                            <if condition="$designer['status'] eq 0">
                                <option value="0" selected="selected">下线</option>
                                <option value="1">上线</option>
                                <else />
                                <option value="0" >下线</option>
                                <option value="1" selected="selected">上线</option>
                            </if>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 资质/证书</label>
                    <div class="col-sm-8">
                        <textarea  name="zizhi" >{$designer.idCard}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 作品/经历</label>
                    <div class="col-sm-8">
                        <textarea  name="zuoping" >{$designer.zuoping}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 地址</label>
                    <div class="col-sm-8">
                        <input type="text" value="{$designer.address}" class="form-control" name="address" id="title" data-check="['^[\\S]*$','地址必填']" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 每小时价格</label>
                    <div class="col-sm-8">
                        <input type="text" value="{$designer.price}" class="form-control" name="price" id="title" data-check="['^[\\S]*$','地址必填']" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 账户id</label>
                    <div class="col-sm-4">
                        <input type="text" value="{$designer.user}" class="form-control" name="user" id="title" data-check="['^[\\S]*$','地址必填']" >
                    </div>
                    <label for="title"  class="text-info col-sm-2 control-label"><span class="red">*</span> 审核状态</label>
                    <div class="col-sm-4">
                        <select name="apply_status" class="form-control">
                            <if condition="$designer['apply_status'] eq 0">
                                <option value="0" selected="selected">审核中</option>
                                <option value="1">审核通过</option>
                                <else />
                                <option value="0" >审核中</option>
                                <option value="1" selected="selected">审核通过</option>
                            </if>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="text-info  col-sm-2 control-label"><span class="red">*</span> 添加服务</label>
                    <div class="col-sm-4" >
                        <div class="col-sm-5" data-dom="{$designer.fuwu}">

                            <a class="add_size_btn">继续添加</a>
                        </div>
                    </div>

                </div>


            </div>

            <!--描述图片-->
            <div class="tab-pane fade " id="detailtab">
                <div class="form-group">
                    <label   class="text-info  col-sm-2 control-label"><span class="red">*</span>栏目图片</label>
                    <div class="col-sm-10 hotImg">
                        <input type="file" class="form-control file" name="hotImg">
                        <input type="hidden" class="imgValue" name="hotImg" >
                        <input type="text" placeholder="描述" class="form-control hotImgDesc" >
                    </div>
                    <a id="add_img" class="col-sm-10  clear col-sm-offset-2">继续添加</a>
                </div>
            </div>

            <!--商品详情-->
            <div class="tab-pane fade " id="detailtab">

                <script id="editor" type="text/plain" class="clear pull-left col-md-11  " style="height:400px;"></script>

            </div>


        <a  id="add_btn" class="col-md-4 col-md-offset-4 btn btn-primary">添加</a>
        </div>
    </form>

</div>
</body>
<script src="__APP__/Common/js/lib/jquery.form.min.js"></script>

<script>
    seajs.use('__APP__/Common/js/checkForm.js',function(CheckForm){
        UE.getEditor('editor');//默认加载

        //添加服务函数
        var dom,size, x,html;
        $('[data-dom]').each(function(index,obj){
            html = '';
            dom = $(obj);
            size = dom.attr('data-dom');
            size = size.split('_');
            for( x in size){
                html +='<input class="form-control size_input" type="text"  value="'+size[x]+'" />';
            }
            $(obj).prepend(html);
        })
        $(document).on('click','a.add_size_btn',function(){
            $(this).before('<input class="form-control size_input" type="text"  placeholder="" value="" />');
        });

        //添加图片函数
        $('#add_img').click(function(){
            $(this).before('<div class="col-sm-10 hotImg clear col-sm-offset-2">'
                    +                   '<input  type="file" class="form-control file" name="hotImg">'
                    +                    '<input type="hidden" value="" class="imgValue" name="hotImgValue" >'
                    +                     '<input type="text" placeholder="描述" class="form-control hotImgDesc" >'
                    +                    '<a class="del_btn">删除</a>'
                    +               '</div>')
        });


        //del_btn
        $('.del_btn').click(function(){
            $(this).parent().remove();
        });

        //点击上传
        $(document).on('change','input.file',function(){
            var _self = this;
            $('#add_img').text('继续添加：上传中。。。');
            $('#addDesignerForm').ajaxSubmit({
                url:'/Admin/Class/ajaxImgUpload',
                data:{name:'hotImg'},
                dataType:'json',
                success:function(data){
                    if(data.status == 'success'){
                        var img = $(_self).parent().find('.input_img');
                        if(img.length<1){
                            $(_self).before('<img src="'+data.url+'" class="input_img" />')
                        }else{
                            img[0].src = data.url;
                        }
                        $(_self).parent().find('.imgValue').val(data.url);
                        $('#add_img').text('继续添加 ');
                    }else{
                        alert('wrong!'+data);
                    }
                }
            })
        });

        //点击提交
        $("#add_btn").click(function(){
            var data = [];//图片数据
            var checkForm = new CheckForm('#addDesignerForm');
            if(checkForm.getResult()){
                //图片item
                $('.hotImg').each(function(index,obj){
                    var dom = $(obj);
                    if(dom.find('.imgValue').val() != ''){
                        data[index] = {};
                        data[index].url = dom.find('.imgValue').val();
                        data[index].title = dom.find('.hotImgDesc').val();
                    }
                });
                data = JSON.stringify(data);

                //服务item
                var fuwuStr='';
                $('.size_input').each(function(index,obj){
                    var dom = $(obj);
                    if(index==0){
                        fuwuStr = dom.val();
                    }else{
                        fuwuStr +='_'+ dom.val();
                    }

                });

                $('#addDesignerForm').ajaxSubmit({
                    data:{imgData:data,fuwuStr:fuwuStr},
                    success:function(data){
                        if(data=="success"){
                            $('#add_btn').text('保存成功，即将返回');
                            setTimeout(function(){
                                window.location.href = Location.prototype.href = 0;

                            },1000)
                        }else{
                            alert("保存失败:"+data)
                        }

                    }
                })
            }
        });

    });
</script>
<include file="Footer/footer" />