<link href="__APP__/Common/css/user.css" rel="stylesheet"/>

<div class="list_left col-md-2">
    <div class="list_class">
        <!--个人中心-->
        <div class="list_left_can">
            <div class="header">
                个人中心
            </div>
            <div class="content">
                <div class="list_dropdown">
                    <a  id="user_index" href="__APP__/Home/User/index.html">我的订单</a>
                </div>
                <div class="list_dropdown">
                    <a  id="user_collect" href="__APP__/Home/User/collect.html">我赞过的商品</a>
                </div>
                <div class="list_dropdown">
                    <a id="user_yuyue" href="__APP__/Home/User/yuyue.html">我预约的服务</a>
                </div>
                <div class="list_dropdown active">
                    <span> 个人设置 <i class="iconLeftTrim"></i></span>
                    <ul  >
                        <li><a id="user_my_ifno" href="__APP__/Home/User/myInfo">个人信息修改</a></li>
                        <li><a id="user_my_pass" href="__APP__/Home/User/modPassword">密码修改</a></li>
                        <li><a id="user_my_address" href="__APP__/Home/User/my_address.html">收货地址管理</a></li>

                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>