<include file='Header/header' />
<!------主页面------>
<div class="container b1_brand " >
    您当前的位置：<a href="__APP__">首页</a>   ><a href="__APP__/Home/Custom/index.html">私人造型服务</a> > <a href="__APP__/Home/Custom/designer.html?id={$item.id}">{$item.name}</a>

</div>
<style>
    .custom_can{
        display: block;
        margin-top: 20px;;
        padding-bottom: 20px;;
    }
    .custom_info_title{
        font-size: 16px;
        line-height: 20px;
        padding: 20px 0;;
        border-bottom: 2px solid #000000;
    }
    .custom_info{
        margin-top: 20px;;
        padding: 20px;;
        border: 1px solid #c0c0c0;
    }
</style>
<div class="container list_can ">
    <!--左边-->
    <div class="list_left col-md-2">
        <div class="list_class">

            <!--销售榜-->
            <div class="list_left_can">
                <div class="header">
                    大家都在看
                </div>
                <div class="content">
                    <div class="soldNO1">
                        <a href="__APP__/Home/Custom/designer.html?id={$HotList[0]['id']}">
                            <img src="{$HotList[0]['img']['url']}" alt="{$HotList[0]['title']}"/>
                        </a>
                    </div>
                    <volist name="HotList" id="sl">
                        <div class="soldList">
                            <span class="b1_circle">{$i}</span>
                            <span class="title">
                                <a href="__APP__/Home/Custom/designer.html?id={$sl['id']} ">
                                    {$sl['name']}
                                </a>
                            </span>
                        </div>
                    </volist>
                </div>
            </div>


        </div>
    </div>
    <!--右边-->
    <div class="list-right col-md-10 item_right" style="margin-bottom: 40px;" >
        <div class="item_photo">
            <div class="col-md-6  can_item " data-id="{$item.id}">
                <div class=" col-md-9 itemMainImg">
                    <img src="{$item['img'][0]['url']}" alt="{$item['img'][0]['title']}">
                </div>
                <div class="col-md-3 itemOtherImg">
                    <volist name="item['img']" id="ii" >
                        <if condition='$i gt 4'>
                            <else/>
                            <div class="itemImgList">
                                <img src="{$ii.url}" alt="{$ii.title}" />
                            </div>
                        </if>
                    </volist>
                </div>
            <!--    <div class="itemImg_bar">
                    <div class="img_bar">
                        <a class="zan"></a>
                        <a class="weibo"></a>
                    </div>
                    <div class="item_pingjia">
                        <span>买家评价</span>
                        <ul>
                            <if condition="$i gt $pingjia">
                                <li></li>
                                <else/>
                                <li class="on"></li>
                            </if>
                        </ul>
                    </div>
                </div>-->
            </div>
            <div class="col-md-6 can_item" id="item_can">
                <div class="itemDetail">
                    <span class="item_title"> {$item.name}</span>
                    <span class="item_price">RMB &nbsp;&nbsp;&nbsp;{$item.price}(元)/小时</span>
                    <span class="category_tip">请选择服务<i class="icon_bottom"></i></span>
                </div>
                <div class="itemCategory">

                        <div class="can">
                            <div class="item_chima">
                                <span class="category_title">服务</span>
                            </div>
                            <div class="item_chimaItem choose_chima" data-value="{$item.fuwu}">

                            </div>
                        </div>

                </div>
                <div class="itemBuy">
                    <div class="item_buyNum">
                        <span class="buyNum_title">时长</span>
                        <div class="buyNum">
                            <span class="it_left_btn">-</span>
                            <input class="it_num_value" value="1">
                            <span class="it_right_btn">+</span>
                        </div>
                    </div>
                    <button class="b1_b_btn buy_button"  data-toggle="modal" data-target="#yuyue">立即预约</button>

                </div>
            </div>
        </div>
    </div>

    <div class=" right col-md-offset-2 col-md-10  item_right custom_can">
        <div class="custom_info_title">
            私人顾问详情
        </div>
        <div class="custom_info">
            {$item.desc}
        </div>
    </div>
</div>

<script src="__APP__/Common/js/lib/sea.js"></script>
<script>

    seajs.use('__APP__/Common/js/tipbox',function(TipBox){
        //销售榜
        function cutstr(str,len)
        {
            var str_length = 0;
            var str_len = 0;
            str_cut = new String();
            str_len = str.length;
            for(var i = 0;i<str_len;i++)
            {
                a = str.charAt(i);
                str_length++;
                if(escape(a).length > 4)
                {
                    //中文字符的长度经编码之后大于4
                    str_length++;
                }
                str_cut = str_cut.concat(a);
                if(str_length>=len)
                {
                    str_cut = str_cut.concat("...");
                    return str_cut;
                }
            }
            //如果给定字符串小于指定长度，则返回源字符串；
            if(str_length<len){
                return  str;
            }
        }
        $('div.soldlist .tittle a').each(function(index,obj){
            if($(obj).width()>140){
                var text = $(obj).text();
                $(obj).text(cutstr(text,16));
            }
        })

        //去除提示
        $('#item_can .item_chimaItem').click(function(){
            $('#item_can').removeClass('needInfo');
        });

        //立即购买事件
        $('.buy_button').click(function(){
            //立即购买事件
            if(ifChoose())ifLogin(buynow);
        });


        //是否选择完毕
        function ifChoose(){
            var flag=true;
            $('.item_chimaItem').each(function(index,obj){
                if(flag&&$(obj).find('.choosed').length<1){
                    flag=false;
                    $('#item_can').addClass('needInfo');
                }
            });
            return flag;
        }
        //是否登陆
        function ifLogin(callback){
            $.ajax({
                url:'__APP__/Home/Login/isLogin',
                success:function(data){
                    if(data=='true'){
                        callback();
                    }else{
                        //没登陆就先登录再回来
                        location.href='__APP__/Home/Cart/needLogin.html?id={$item["id"]}'
                    }
                }
            })
        }

        //立即购买
        function buynow(){
            //成功则取订单页
            var chima = $('.choose_chima .choosed').text();
             var num = $('.it_num_value').val();
            var item ='{$item["id"]}';
            location.href = '__APP__/Home/Cart/yuyue.html?id='+'{$item["id"]}'+'&chima='+chima+'&num='+num;
        }

        //解析分类
        $('.item_chimaItem[data-value]').each(function(index,obj){
            var value = $(this).attr('data-value');
            var category = value.split('_');
            var eachValue,html='';
            for(eachValue in category){
                html = html+ '<span>'+category[eachValue]+'</span>';
            }
            $(this).html(html);
        });

        //点赞
        $('.zan').click(function(){
            var tipbox = new TipBox({
                obj: $(this),
                str: "+1",
                endSize:'26',
                interval:900,
                color:"#e6007e",
                callback: function() {
                    $.ajax({
                        url:"__APP__/Home/List/addZan.html?id={$id}&match=0"
                    })
                }
            })
        })

        //图片点击切换
        $(document).on('click','.item_photo img',function(){
            var src = $(this)[0].src;
            $('.itemMainImg').find('img').attr('src',src);
        })

        //数字加减
        $('.it_left_btn').click(function(){
            var num =$(this).parent().find('.it_num_value');
            if(num.val()>1){
                var val = parseInt(num.val())-1;
                num.val(val);
            };
        });
        $('.it_right_btn').click(function(){
            var num =$(this).parent().find('.it_num_value');
            num.val(parseInt( num.val())+1);
        });


        //尺码点击选择分类
        $(document).on('click','.item_chimaItem span',function(){
            $(this).parent().find('.choosed').removeClass('choosed');
            $(this).addClass('choosed');
        })

        //提交订单
    });


</script>

<include file='Footer/footer' />