<div id="footer" style="margin-top: 40px;" class="can100">
    <div class="container">
        <ul class="list-inline text-center">
           <li><a href="__APP__/home/index/AboutUs">关于我们 </a></li>|
            <li><a href="__APP__/home/index/ContactUs">联系我们</a></li>|
            <li><a href="__APP__/home/index/ContactUs">购物条款</a></li>|
            <li><a href="__APP__/home/DesignerInfo/index">造型师入驻</a></li>|
        </ul>
    </div>
    <div class="container margin-top">
        <div class="copy_right text-center">
            <span class="center-block ">Copyright ©1996-2014 MizyCms Corporation, All Rights Reserved</span>
        </div>
    </div>
</div>
<script src="__APP__/Common/js/lib/bootstrap.min.js" ></script>
