<include file='Header/header' />
<link href="__APP__/Common/css/user.css" rel="stylesheet"/>
<!------主页面------>
<div class="container b1_brand " >
    您当前的位置： 您当前的位置：<a href="__APP__">首页</a> ><a  >支付结果</a>

</div>
<div class="text-success" style="text-align: center;font-size: 18px">
    <h1>支付成功</h1>
</div>
        <script>
            setTimeout(function(){
                location.href="__APP__/Home/User/index.html";
            },1300)
        </script>
<include file='Footer/footer' />