<link href="__APP__/Common/css/user.css" rel="stylesheet"/>
<div class="list_left col-md-2">
    <div class="list_class">
        <!--个人中心-->
        <div class="list_left_can">
            <div class="header">
                造型师中心
            </div>
            <div class="content">
                <div class="list_dropdown">
                    <a  id="yuyue_1" href="__APP__/Home/DesignerInfo/index.html">已预约服务</a>
                </div>
                <div class="list_dropdown">
                    <a  id="yuyue_2" href="__APP__/Home/DesignerInfo/index.html?status=2">已完成服务</a>
                </div>
                <div class="list_dropdown">
                    <a href="__APP__/Home/DesignerInfo/modInfo.html">造型师信息修改</a>
                </div>
               <!-- <div class="list_dropdown active">
                    <span> 个人设置 <i class="iconLeftTrim"></i></span>
                    <ul  >
                        <li><a id="user_my_ifno" href="__APP__/Home/User/myInfo">个人信息修改</a></li>
                        <li><a id="user_my_pass" href="__APP__/Home/User/modPassword">密码修改</a></li>
                        <li><a id="user_my_address" href="__APP__/Home/User/my_address.html">收货地址管理</a></li>

                    </ul>
                </div>-->
            </div>
        </div>


    </div>
</div>