<div class="col-md-2 ">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-heading">管理</span>
        </div>

        <div class="panel-body">
            <ul class=" nav   nav-pills nav-stacked">
                <li   id="index"  ><a href="{:U('Designer/index')}">造型师管理</a></li>
                <li   id="addDesigner"  ><a href="{:U('Designer/addDesigner')}">添加造型师</a></li>    <li   id="addFenglei"  ><a href="{:U('Designer/addFenglei')}">添加分类</a></li>
             </ul>
        </div>
    </div>
</div>