<div class="col-md-2 ">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-heading">管理</span>
        </div>

        <div class="panel-body">
            <ul class=" nav   nav-pills nav-stacked">
                <li  id="index"  ><a href="{:U('Status/index')}">销量排名</a></li>

                <li  id="userRank"> <a href="{:U('Status/userRank')}">用户购物量排名</a></li>
                <li  id="hotRank"> <a href="{:U('Status/salesRank')}">商品热门排名</a></li>
            </ul>
        </div>
    </div>
</div>