<include file='Header/header' />
<link type="text/css" rel="stylesheet" href="__APP__/Common/css/match.css">
<!------主页面------>

        <h1 class="text-info" style="margin:30px auto;text-align: center">请先登录网站 </h1>
        <span class="text-info" style="display:block;text-align:center;font-size: 12px;font-weight: lighter">即将跳转...</span>

<script>
    setTimeout(function(){
       location.href='__APP__/Home/Login/index.html?back_url=';
    },2000)
</script>
    <include file='Footer/footer' />
